
* {
	user-select: none;
	-webkit-tap-highlight-color: transparent; /* prevent blue impression when clicking on Chrome Android */
}

body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: #3d3d3d;
	/* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: #6f6f6f;
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
	border: 2px solid #3d3d3d;
	/* creates padding around scroll thumb */
}


h1, h2, h3, h4, h5, h6 {
	margin: .1em 0; 
}


textarea, select, input {
	font-size: 16px; 
}


/* UTILS */
.displaynone {
	display: none; 
}

.maxheight0 {
	max-height: 0 !important;
}


.delete-btn {
	background-color: var(--text-light);
}

.more-actions-button {
	position: relative; 
}
.more-actions-button .visible {
	height: 100%; 
	height: 100%;
    width: 42px;
    /* background: var(--accent-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.more-actions-button .visible:active {
	background: var(--accent-bg); 
}
.more-actions-button .openable {
	display: none; 
}
.more-actions-button .openable.opened {
	display: flex; 
	position: absolute; 
	right: 60px;
    flex-direction: column;
    top: 0;
	background-color: var(--accent-bg);
	padding: 1em; 
}

.more-actions-button .openable button {
	color: var(--text); 
	background: none;
	display: flex; 
	align-items: center;
	justify-content: center;
}
.more-actions-button .openable button svg {
	width: 16px; 
	position: relative;
	bottom: 2px; 
}











.message--warning {
	background: var(--accent-bg);
    padding: 1em;
    border-radius: 4px;
    font-family: var(--mono-font);
    font-size: .8em;
}







/*  HEADER */
.header {
	position: sticky; 
	top: 0; 
	width: 100%;
	z-index: 1;
	padding: .2em;
	text-align: left;
}
.header a {
	color: var(--text); 
}



/* FOOTER */ 

.footer {
	padding: .2em;
}

.main-button {
	border-radius: 120px; 
	box-shadow: 1px 1px 4px rgba(0,0,0,.6);
	position: fixed; 
	bottom: .6em; 
	right: .6em; 
	width: 72px; 
	height: 72px; 
	transition: all ease 240ms; 
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 0;
    margin: 0;
    padding: 0;
}
.main-button.active {
	transform: rotate(45deg);
	background-color: #fff;
}

@media screen and (prefers-color-scheme: light) {
	.main-button.active {
		background-color: #000; 
	}
}


/* Reading list */
#app-container {
	width:95%; 
	max-width: 1280px;
	margin: auto; 
	margin-top: 0; 
}
#app-container.centered-content {
	margin-top: auto;
}
.reading-list {
}

.reading-list.empty-list {
	opacity: .8; 
	display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
	margin-top: 20vh;
}
.reading-list.empty-list p {
	font-size: 16px; 
}
.reading-list.empty-list a {
	font-weight: bold;
	font-size: 18px;
}





/* Books search results  */
#search-form {
	scroll-snap-align: start;
	display: flex;
    border: solid 1px var(--border);
    border-radius: 5px;
    align-items: center;
    max-width: 580px;
}
#search-form:focus {
	outline: 2px red solid; 
}
#search-form.focus {
	outline: -webkit-focus-ring-color auto 1px;; 
}
#search-form  #query {
	background: transparent;
    border: none;
	margin-bottom: 0; 
	width: 100%;
}
#search-form  #query:focus {
	outline: none;
	border: none; 
}
#search-form #clear {
	background: none;
    color: var(--text);
    width: 38px;
	font-size: 22px;
	font-weight: 300;
	line-height: 0;
}
#search-form #submit-form {
	width: 92px; 
	margin:0; 
}


#search-results {
	margin-top: 1em;
}
















/************************************************************************************
Book entry : 
************************************************************************************/

.book-entry {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	max-height: 100%;
	transition: all ease-in 320ms;
	padding: 0; 
	margin-bottom: .6em; 
	border-color: var(--accent-bg);
}

.book-entry .cover-miniature {
	width: 52px; 
	height: auto; 
	object-fit: cover;
}


.book-entry .info-container {
	width: calc(100% - 100px - 42px);
	margin-right: auto;
    margin-left: 12px;
}


.book-entry p {
	margin: .1em; 
}

.book-entry .title, .book-entry .author {
	margin: 0; 
}

.book-entry .title {
	font-size: 16px; 
}
.book-entry .author {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}
.book-entry .description {
	font-size: 14px; 
	max-width: 720px;
	max-height: 100%;
	overflow: hidden;
	transition: max-height ease-in 320ms;
}
.book-entry .info-container .publisher > * {
	font-size: 12px;
	border-radius: 4px; 
	/* border: solid 1px; */
	background: var(--accent-bg);
	padding: 2px 8px; 
}

.book-entry .added-date {
	font-size: 12px; 
	font-style: italic;
}
.book-entry .cta-container {
	width: 40px; 
	height: 40px;
	align-self: flex-end;
}

.book-entry button {
	margin: 0;
}







/* SINGLE BOOK */

.back-navigation_btn {
	background: var(--accent-bg);
	color: var(--text-light); 
}

.single-book__container .miniature-cover {
	float: left; 
	margin-right: 18px;
}
.single-book__container .description-content, .single-book__container .meta-container {
	max-width: 920px; 
}

.single-book__container .description-content {
	padding: 1em; 
	font-size: 16px;
}
.single-book__container .meta-container {
	display: flex;
	background: var(--accent-bg);
	font-size: 14px;
}
.single-book__container .meta-container .column {
	width: 50%;
}
.single-book__container li {
	/* list-style: '⏵ ';  */
	list-style: '\25B8\0020';
}


.single-book__container .custom_section {
	clear: both; 
	margin-top: 1em; 
} 

.single-book__container #comment_container {
	min-height: 72px; 
}









/* ABOUT */
.about-container p, .about-container li {
	font-size: 16px;
}

.about-container h1, .about-container h2 {
	font-size: 1.25em; 
	margin-top: 2em; 
}
.about-container h3 {
	font-size: 1.125em;
	margin-top: 1.6em;
}

.about-container .versions-container {
	font-family: var(--mono-font);
	background-color: var(--accent-bg);
    /* border: 1px solid var(--border); */
	margin-bottom: 2px;
}
.about-container .versions-container p {
	margin: 0; 
	padding: .6em; 
}

li.star {
	list-style-type: '★ ';
}

.about-container #export-container {
	padding: 1em;
	max-height: 220px;
	overflow: auto;
	user-select: text;
	font-size: 12px;
}
























/* Animated icon CSS */
.animated-validation {
	width: 48px; 
	height: 48px;
	border-radius: 100px; 
	border: green solid 4px;
	position: relative; 
}
.animated-validation::before {
    content: '';
    position: relative;
    height: 4px;
    background-color: green;
    width: 18px;
    border-radius: 100px;
    transform: rotate(45deg);
    top: 22px;
    left: 9px;
    display: block;
}
.animated-validation::after {
	content: '';
	display: block;
	position: relative; 
	width: 21px;
	height: 4px;
	border-radius: 100px;
	background: green;
	transform: rotate(-45deg);
	left: 14px;
    top: 16px;
}
