
* {
	user-select: none;
	-webkit-tap-highlight-color: transparent; /* prevent blue impression when clicking on Chrome Android */
}

html[data-theme="light"] {
	--bg: #fff;
	--bg-faded: #ffffff78; 
	--accent-bg: #f5f7ff;
	--text: #212121;
	--text-light: #585858;
	--border: #898EA4;
	--accent: #0d47a1;
	--code: #d81b60;
	--preformatted: #444;
	--marked: #ffdd33;
	--disabled: #efefef;
	--current-reading-bg-img: url(images/bg-grain-l.png); 
}
html[data-theme="dark"] {
	color-scheme: dark;
	--bg: #212121;
	--bg-faded: #21212138;
	--accent-bg: #2b2b2b;
	--text: #dcdcdc;
	--text-light: #ababab;
	--accent: #ffb300;
	--code: #f06292;
	--preformatted: #ccc;
	--disabled: #111;
	--current-reading-bg-img: url(images/bg-grain-d.png); 
}

body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: #3d3d3d;
	/* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: #6f6f6f;
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
	border: 2px solid #3d3d3d;
	/* creates padding around scroll thumb */
}


h1, h2, h3, h4, h5, h6 {
	margin: 1.2em 0 1em 0; 
	font-size: 1.4em; 

}

h1, h2 {
	font-weight: 300;
}

ul {
	list-style-position: inside;
}


textarea, select, input {
	font-size: 16px; 
}

main {
	padding-top: 0; 
}


button {
	display: flex;
    align-items: center;
}














/* UTILS */
.displaynone {
	display: none; 
}

.maxheight0 {
	max-height: 0 !important;
	overflow: hidden;
}


.new-feature {
	color: var(--accent); 
}
.new-feature:before {
	content: '\2022'; 
	color: var(--accent); 
	font-size: 1.6em;
	position: relative;
    bottom: 5px;
}








.delete-btn {
	background-color: var(--text-light);
}

.more-actions-button {
	position: relative; 
}
.more-actions-button .visible {
	height: 100%; 
	height: 100%;
    width: 42px;
    /* background: var(--accent-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.more-actions-button .visible:active {
	background: var(--accent-bg); 
}
.more-actions-button .openable {
	display: none; 
}
.more-actions-button .openable.opened {
	display: flex; 
	position: absolute; 
	right: 60px;
    flex-direction: column;
    top: 0;
	background-color: var(--accent-bg);
	padding: 1em; 
}

.more-actions-button .openable button {
	color: var(--text); 
	background: none;
	display: flex; 
	align-items: center;
	justify-content: center;
}
.more-actions-button .openable button svg {
	width: 16px; 
	position: relative;
	bottom: 2px; 
}











.message--warning {
	background: var(--accent-bg);
    padding: 1em;
    border-radius: 4px;
    font-family: var(--mono-font);
    font-size: .8em;
}







/*  HEADER */
.header {
	position: sticky; 
	top: 0; 
	width: 100%;
	z-index: 1;
	padding: .2em;
	text-align: left;
	transition: all ease 140ms;
	display: grid;
    grid-template-columns: 1fr 32px;
    grid-template-rows: 28px;
}
.header a {
	color: var(--text); 
}
.header #network-state {
	justify-self: right;
    align-self: center;
    color: var(--accent);
    display: none;
}



/* FOOTER */ 

.footer {
	padding: .6em;
	transition: all ease 220ms;
	position: fixed;
    bottom: 0px;
    width: 100%;
	display: flex;
    justify-content: space-evenly;
    border-radius: 12px 12px 0 0;
	backdrop-filter: blur(6px);
	background-color: var(--bg-faded);
	box-shadow: 0 0 12px #00000080;
}
.footer a {
	color: var(--text); 
	text-decoration: none;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.footer .ico-part {
	font-size: 1.2em;
}
.footer .text-part {
    font-size: .7em;
}

.main-button {
	z-index: 12;
	border-radius: 120px; 
	box-shadow: 1px 1px 4px rgba(0,0,0,.6);
	position: fixed; 
	bottom: 1.8em; 
	right: .8em; 
	width: 58px; 
	height: 58px; 
	transition: all ease 240ms; 
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 0;
    margin: 0;
    padding: 0;
}
.main-button.active {
	transform: rotate(45deg);
	background-color: #fff;
}

@media screen and (prefers-color-scheme: light) {
	.main-button.active {
		background-color: #000; 
	}
}





















/* Reading list */
#app-container {
	width:100%; 
	max-width: 840px;
	margin: auto; 
	margin-top: 0; 
	z-index: 0;
}
#app-container > * {
	padding: 0 2.5%; 
}
#app-container.centered-content {
	margin-top: auto;
}

.reading-list.empty-list {
	opacity: .8; 
	display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
	margin-top: 20vh;
}
.reading-list.empty-list p {
	font-size: 16px; 
}
.reading-list.empty-list a {
	font-weight: bold;
	font-size: 18px;
}


.reading-list .list-items-counter {
	opacity: .33;
	font-weight: 300;
	font-size: .85em;
}



#current-reading {
	padding: 0;
}
#current-reading h2 {
	padding: 0 2.5%; 
}
#current-reading .current-reading__container {
	overflow-x: auto;
    scroll-snap-type: x mandatory;
	height: 180px; 
	margin-bottom: 2em; 
	padding: 12px;
	background-color: var(--accent-bg);
	border-radius: 5px 0 0 5px;
}



/** Scroll bar style **/
/* #current-reading .current-reading__container::-webkit-scrollbar {
	height: 12px;
	border-radius: 12px;
}
#current-reading .current-reading__container::-webkit-scrollbar-track {
	background: #3d3d3d;
	border-radius: 12px;
}
#current-reading .current-reading__container::-webkit-scrollbar-thumb {
	background-color: #6f6f6f;
	border-radius: 20px;
	border: 2px solid #3d3d3d;
} */
/** END **/

#current-reading .current-reading__scroller {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 92%;
	position: relative;
}
#current-reading a.current-reading__card {
	height: 100%;
	display: flex;
	align-items: center;
    scroll-snap-align: center;
	border-radius: 12px;
	background-color: var(--bg);
	box-shadow: 4px 4px 18px rgba(0,0,0,.25);
	text-decoration: none;
	position: relative; 
	background-image: var(--current-reading-bg-img);
    background-repeat: no-repeat;
    background-size: 270px;
    background-position: bottom right;
}

#current-reading .progression-bar__container {
	width: 84px;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 24px;
    background: linear-gradient(1deg, var(--accent-bg), transparent);
    border-radius: 0 0 5px 5px;
    /* overflow: hidden; */
}

#current-reading .progression-bar {
	position: absolute;
    height: 4px;
    border-radius: 18px;
    background-color: var(--accent);
    bottom: 0;
    left: 0;
    opacity: .9;
	transition: width ease 680ms;
}

#current-reading a.current-reading__card img {
	height: 100%;
	object-fit: cover;
}
#current-reading a.current-reading__card h3 {
    text-overflow: ellipsis;
    margin-left: 18px;
    font-weight: 300;
    overflow: hidden;
    display: -webkit-box;
	-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
	line-height: 1.3;
    margin-bottom: 0;
    margin-top: 0;
}

#current-reading a.current-reading__card .days-counter {
	position: absolute;
    font-size: 1.2em;
    bottom: 12px;
    right: 12px;
    z-index: 1;
}

#current-reading.single-current {
	padding: 0; 
}
#current-reading.single-current .current-reading__container {
	border-radius: 0; 
}
#current-reading.single-current .current-reading__scroller {
	width: 100% !important;
}


#current-reading .counter {
	text-align: right;
}
#current-reading .reading-session-btn__container {
	width: 42px;
	margin-left: 24px; 
}
#current-reading .reading-session-btn {
	border-radius: 120px; 
	width: 42px;
    height: 42px;
    line-height: 0;
	display: flex; 
	justify-content: center;
	align-items: center;
	font-size: 1.2em;
}
#current-reading .reading-session-btn.active {
	background-color: var(--code);
}

@keyframes pop {
	0% {
		transform: scale(1); 
	}
	50% {
		transform: scale(0); 
	}
	100% {
		transform: scale(1); 
	}
}

@keyframes sparkle {
	0% {
		opacity: 1;
	}
	50% {
		opacity: .2; 
	}
	100% {
		opacity: 1; 
	}
}


.vanish {
	animation: vanish 200ms;
}
@keyframes vanish {
	from {
		transform: scale(1); 
	}
	to { 
		transform: scale(0); 
	}
}
.appear {
	animation: appear 200ms; 
}
@keyframes appear {
	from {
		transform: scale(0); 
	}
	to { 
		transform: scale(1); 
	}
}






.reading-list + .reading-list h2 {
    margin-top: 2.4em;
}


























/* Books search results  */
#search-form {
	/* scroll-snap-align: start;
	display: flex;
    border: solid 1px var(--border);
    border-radius: 5px;
    align-items: center;
    max-width: 580px; */
	margin-top: 1em; 
}
/* 
#search-form.focus {
	outline: -webkit-focus-ring-color auto 1px;; 
}
#search-form #query {
	background: transparent;
    border: none;
	margin-bottom: 0; 
	width: 100%;
}
#search-form  #query:focus {
	outline: none;
	border: none; 
} */
#search-form #clear {
	background: none;
    color: var(--text);
    width: 38px;
	font-size: 22px;
	font-weight: 300;
	line-height: 0;
}
#search-form #submit-form {
	/* width: 92px; 
	margin:0;  */
}




#search-results {
	margin-top: 1em;
}

#search-results .search-loader .dot {
	animation: sparkle ease 1500ms infinite both;
}
#search-results .search-loader .dot.dot--1 {
	animation-delay: 0ms;
}
#search-results .search-loader .dot.dot--2 {
	animation-delay: 300ms;
}
#search-results .search-loader .dot.dot--3 {
	animation-delay: 600ms;
}

#search-results .small-info {
	color: var(--text-light);
    font-size: 12px;
    font-style: italic;
	margin: 1.6em 0; 
}


#add-form-cta, #add-barcode {
    background: var(--accent-bg);
	color: var(--text); 
    text-decoration: none;
	display: flex; 
	justify-content: center;
	align-items: center;
	width: 100%; 
	border-radius: 5px;
	padding: 0.7em;
	margin: 12px 0; 
}















/************************************************************************************
Book entry : 
************************************************************************************/

.book-entry {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	max-height: 100%;
	transition: all ease-in 320ms;
	padding: 0; 
	margin-bottom: .6em; 
	border-color: var(--accent-bg);
}

.book-entry .cover-miniature {
	width: 52px; 
	height: auto; 
	object-fit: cover;
}


.book-entry .info-container {
	width: calc(100% - 100px - 42px);
	margin-right: auto;
    margin-left: 12px;
}


.book-entry p {
	margin: .1em; 
}

.book-entry .title, .book-entry .author {
	margin: 0; 
}

.book-entry .title {
	font-size: 16px; 
}
.book-entry .author {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}
.book-entry .description {
	font-size: 14px; 
	max-width: 720px;
	max-height: 100%;
	overflow: hidden;
	transition: max-height ease-in 320ms;
}
.book-entry .info-container .publisher > * {
	font-size: 12px;
	border-radius: 4px; 
	/* border: solid 1px; */
	background: var(--accent-bg);
	padding: 2px 8px; 
}

.book-entry .added-date {
	font-size: 12px; 
	font-style: italic;
}
.book-entry .cta-container {
	width: 40px; 
	height: 40px;
	align-self: flex-end;
}

.book-entry button {
	margin: 0;
}







/* SINGLE BOOK */

.back-navigation_btn {
	background: var(--accent-bg);
	color: var(--text-light); 
}

.single-book__container .miniature-cover {
	float: left; 
	margin-right: 18px;
	width: 120px;
}
.single-book__container .miniature-cover img {
	transition: opacity ease 1000ms;
}
.single-book__container .miniature-cover input[type="file"] {
	margin: 0;
    padding: 0;
    font-size: 14px;
	opacity: .6;
}
.single-book__container .description-content, .single-book__container .meta-container {
	max-width: 920px; 
}

.single-book__container .owned-checkbox {
	background: var(--accent-bg);
	padding: 1em;
	font-variant: small-caps;
	display: flex;
	align-items: flex-end;
}

.single-book__container .owned-checkbox label {
	display: inline;
}
.single-book__container .owned-checkbox label.owned-label {
	color: var(--accent); 
}
.single-book__container .owned-checkbox #owned-checkbox {
	height: 24px;
	width: 24px;
    position: relative;
    top: 5px;
	margin-left: 8px;
}
.single-book__container .owned-checkbox #owned-checkbox::after {
	font-size: 38px;
	top: 4px;
    left: 8px;
}





.single-book__container .description-content {
	padding: 1em; 
	font-size: 16px;
}
.single-book__container .meta-container {
	display: flex;
	background: var(--accent-bg);
	font-size: 14px;
}
.single-book__container .meta-container .column {
	width: 50%;
}
.single-book__container li {
	/* list-style: '⏵ ';  */
	list-style: '\25B8\0020';
}


.single-book__container .purchase-link {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 2em 0;
    border-radius: 100px;
}


.single-book__container .purchase-icon {
	background: var(--accent-bg);
    border-radius: 100px;
    padding: 4px;
    display: block;
    width: 48px;
    display: flex;
    justify-content: center;
    margin-right: -49px;
    height: 48px;
    align-items: center;
    color: var(--accent);
	z-index: 1;
}

.single-book__container .button {
	border: solid 1px var(--accent-bg);
    border-radius: 100px;
    border-left: none;
    padding: 12px;
    padding-left: 63px;
	text-decoration: none;
	transition: background-color ease 240ms; 
}
.single-book__container .button:hover {
	background-color: var(--code); 
	color: var(--text);
}



.reading-status__container {
	margin-top: 2em; 
	margin-bottom: 2em; 
}

.reading-status__container label {
	font-weight: bold;
	font-size: 1.2em; 
}

.reading-status__container .status-log {

}
.reading-status__container .status-log p {
	margin: 0; 
	font-size: 16px;
	font-style: italic;
	display: flex;
    align-items: center;
}

.reading-status__container .edit-date {
	background-color: transparent;
	color: var(--text-light); 
	padding: 0 1em; 
}




.progression_custom input {
	max-width: 120px;
}



.single-book__container .stats-link {
	display: flex;
    color: var(--accent);
}




.single-book__container .custom_section {
	clear: both; 
	margin-top: 1em; 
} 

.single-book__container #comment_container {
	min-height: 72px; 
}

.single-book__container #rating-selector span {
	color: var(--text);
	opacity: .25; 
}
/* .single-book__container #rating-selector span:hover {
	color: var(--accent); 
} */
.single-book__container #rating-selector span.rated {
	color: var(--accent); 
	opacity: 1;
}






/* SINGLE Statistics */
.statistics-sessions__day .list-head {
	background: var(--accent-bg);
	padding: 3px 6px;
	border-radius: 4px;
	display: flex;
	justify-content: space-between;
}

.statistics-sessions__day li {
	padding-left: 4px;
}

.statistics-sessions__day li::before {
	content: '';
    height: 21px;
    width: 2px;
    background: white;
    display: inline-block;
    position: relative;
    left: -23px;
    top: 17px;
}
.statistics-sessions__day li:last-of-type::before {
	height: 0;
}

.statistics-sessions__day li .time-end {
	opacity: .55;
}

.statistics-sessions__day li .session-time {
	/* color: var(--text-light);  */
	font-weight: 300; 
	
}













/* ABOUT */
.about-container p, .about-container li {
	font-size: 16px;
}

.about-container h1, .about-container h2 {
	font-size: 1.25em; 
	margin-top: 2em; 
}
.about-container h3 {
	font-size: 1.125em;
	margin-top: 1.6em;
}

.about-container .versions-container {
	font-family: var(--mono-font);
	background-color: var(--accent-bg);
    /* border: 1px solid var(--border); */
	margin-bottom: 12px;
}
.about-container .versions-container p {
	margin: 0; 
	padding: .6em; 
}

.about-container .versions-container .new-marker {
	background-color: var(--accent);
    padding: 2px 6px;
    border-radius: 4px;
    color: var(--text);
    margin-right: 6px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 1px 1px 3px var(--accent-bg);
}
.about-container .versions-container .new-marker + strong {
	color: var(--accent); 
}

li.star {
	list-style-type: '★ ';
}

.about-container #export-container {
	padding: 1em;
	max-height: 220px;
	overflow: auto;
	user-select: text;
	font-size: 12px;
}




.buy-me-a-coffee-link {
	width: 100%;
    display: inline-block;
    text-align: center;
    background-color: var(--accent-bg);
    border-radius: 6px;
    padding: 6px;
	font-weight: light; 
	text-decoration: none;
}











/* 
	SAVE PAGE 
*/

#user-area .user-block__logged {
	display: grid;
    grid-template-columns: 32px 1fr 42px;
    align-items: center;
    padding: 1em;
    background-color: var(--accent-bg);
    overflow: hidden;
}
#user-area .user-block__logged span {
	font-size: .8em; 
}
#user-area .user-block__logged button {
	background-color: var(--code);
}


















/* Animated icon CSS */
.animated-validation {
	width: 48px; 
	height: 48px;
	border-radius: 100px; 
	border: green solid 4px;
	position: relative; 
}
.animated-validation::before {
    content: '';
    position: relative;
    height: 4px;
    background-color: green;
    width: 18px;
    border-radius: 100px;
    transform: rotate(45deg);
    top: 22px;
    left: 9px;
    display: block;
}
.animated-validation::after {
	content: '';
	display: block;
	position: relative; 
	width: 21px;
	height: 4px;
	border-radius: 100px;
	background: green;
	transform: rotate(-45deg);
	left: 14px;
    top: 16px;
}























/* ==========================================================
TIMER CONTAINER 
========================================================== */
#timer-container {
	width: 100vw;
	position: fixed;
	top: 100vh; 
	height: 10vh;
	background: var(--accent-bg);
	z-index: 2;
	padding: 12px;
	border-radius: 28px 28px 0 0;
	transition: transform ease 380ms; 
	transform: translateY(0vh);
}

#timer-container button {
	background-color: var(--bg); 
	border-radius: 120px;
	color: var(--text); 
}





/* ==========================================================
SETTINGS
========================================================== */
.settings-block {
	margin-bottom: 2em
	;
}

#storage-occupation ul {
	margin-left: 0; 
	padding-left: 0;
	font-weight: 100;
}
