
* {
	user-select: none;
	-webkit-tap-highlight-color: transparent; /* prevent blue impression when clicking on Chrome Android */
}

body {
	display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: #3d3d3d;
	/* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: #6f6f6f;
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
	border: 2px solid #3d3d3d;
	/* creates padding around scroll thumb */
}


h1, h2, h3, h4, h5, h6 {
	margin: 1.2em 0 1em 0; 
	font-size: 1.4em; 

}

h1, h2 {
	font-weight: 300;
}


textarea, select, input {
	font-size: 16px; 
}

main {
	padding-top: 0; 
}

















/* UTILS */
.displaynone {
	display: none; 
}

.maxheight0 {
	max-height: 0 !important;
}


.new-feature {
	color: var(--accent); 
}
.new-feature:before {
	content: '\2022'; 
	color: var(--accent); 
	font-size: 1.6em;
	position: relative;
    bottom: 5px;
}








.delete-btn {
	background-color: var(--text-light);
}

.more-actions-button {
	position: relative; 
}
.more-actions-button .visible {
	height: 100%; 
	height: 100%;
    width: 42px;
    /* background: var(--accent-bg); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
}
.more-actions-button .visible:active {
	background: var(--accent-bg); 
}
.more-actions-button .openable {
	display: none; 
}
.more-actions-button .openable.opened {
	display: flex; 
	position: absolute; 
	right: 60px;
    flex-direction: column;
    top: 0;
	background-color: var(--accent-bg);
	padding: 1em; 
}

.more-actions-button .openable button {
	color: var(--text); 
	background: none;
	display: flex; 
	align-items: center;
	justify-content: center;
}
.more-actions-button .openable button svg {
	width: 16px; 
	position: relative;
	bottom: 2px; 
}











.message--warning {
	background: var(--accent-bg);
    padding: 1em;
    border-radius: 4px;
    font-family: var(--mono-font);
    font-size: .8em;
}







/*  HEADER */
.header {
	position: sticky; 
	top: 0; 
	width: 100%;
	z-index: 1;
	padding: .2em;
	text-align: left;
}
.header a {
	color: var(--text); 
}



/* FOOTER */ 

.footer {
	padding: .2em;
}

.main-button {
	border-radius: 120px; 
	box-shadow: 1px 1px 4px rgba(0,0,0,.6);
	position: fixed; 
	bottom: .6em; 
	right: .6em; 
	width: 72px; 
	height: 72px; 
	transition: all ease 240ms; 
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 0;
    margin: 0;
    padding: 0;
}
.main-button.active {
	transform: rotate(45deg);
	background-color: #fff;
}

@media screen and (prefers-color-scheme: light) {
	.main-button.active {
		background-color: #000; 
	}
}





















/* Reading list */
#app-container {
	width:100%; 
	max-width: 840px;
	margin: auto; 
	margin-top: 0; 
	z-index: 0;
}
#app-container > * {
	padding: 0 2.5%; 
}
#app-container.centered-content {
	margin-top: auto;
}

.reading-list.empty-list {
	opacity: .8; 
	display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
	margin-top: 20vh;
}
.reading-list.empty-list p {
	font-size: 16px; 
}
.reading-list.empty-list a {
	font-weight: bold;
	font-size: 18px;
}




#current-reading {
	padding-right: 0;
}
#current-reading .current-reading__container {
	overflow-x: auto;
    scroll-snap-type: x mandatory;
	height: 180px; 
	margin-bottom: 2em; 
	padding: 12px;
	background-color: var(--accent-bg);
	border-radius: 5px 0 0 5px;
}

/** Scroll bar style **/
/* #current-reading .current-reading__container::-webkit-scrollbar {
	height: 12px;
	border-radius: 12px;
}
#current-reading .current-reading__container::-webkit-scrollbar-track {
	background: #3d3d3d;
	border-radius: 12px;
}
#current-reading .current-reading__container::-webkit-scrollbar-thumb {
	background-color: #6f6f6f;
	border-radius: 20px;
	border: 2px solid #3d3d3d;
} */
/** END **/

#current-reading .current-reading__scroller {
    display: flex;
    flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	height: 92%;
}
#current-reading a.current-reading__card {
	height: 100%;
	display: flex;
	align-items: center;
    scroll-snap-align: center;
	border-radius: 12px;
	background-color: var(--bg);
	box-shadow: 4px 4px 18px rgba(0,0,0,.25);
	text-decoration: none;
	position: relative; 
	/* background-image: url('images/bg-featured.png'); */
	/* background-image: url('images/lines-w.png'); */
    background-repeat: no-repeat;
    background-size: 235px;
    background-position: top right;
}
@media screen and (prefers-color-scheme: light) {
	#current-reading a.current-reading__card {
		/* background-image: url('images/lines-b.png'); */
	}
}
#current-reading a.current-reading__card img {
	height: 100%;
	object-fit: cover;
}
#current-reading a.current-reading__card h3 {
	margin-left: 1em; 
}

#current-reading a.current-reading__card .fav-star {
	position: absolute; 
	font-size: 1.8em;
	bottom: 12px; 
	right: 12px;
	z-index: 1;
	animation: gling 6000ms ease infinite both ;
}

@keyframes gling {
	0% {
		transform: rotate(12deg);
	}
	2% {
		transform: rotate(-12deg);
	}
	4% {
		transform: rotate(12deg);
	}
	6% {
		transform: rotate(-12deg);
	}
	8% {
		transform: rotate(12deg);
	}
	10% {
		transform: rotate(-12deg);
	}
	11% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(0)
	}
	
}

#current-reading.single-current {
	padding: 0; 
}
#current-reading.single-current h2 {
	padding: 0 2.5%; 
}
#current-reading.single-current .current-reading__container {
	border-radius: 0; 
}
#current-reading.single-current .current-reading__scroller {
	width: 100% !important;
}

/* Books search results  */
#search-form {
	scroll-snap-align: start;
	display: flex;
    border: solid 1px var(--border);
    border-radius: 5px;
    align-items: center;
    max-width: 580px;
}
#search-form:focus {
	outline: 2px red solid; 
}
#search-form.focus {
	outline: -webkit-focus-ring-color auto 1px;; 
}
#search-form  #query {
	background: transparent;
    border: none;
	margin-bottom: 0; 
	width: 100%;
}
#search-form  #query:focus {
	outline: none;
	border: none; 
}
#search-form #clear {
	background: none;
    color: var(--text);
    width: 38px;
	font-size: 22px;
	font-weight: 300;
	line-height: 0;
}
#search-form #submit-form {
	width: 92px; 
	margin:0; 
}


#search-results {
	margin-top: 1em;
}

#search-results .small-info {
	color: var(--text-light);
    font-size: 12px;
    font-style: italic;
	margin: 1.6em 0; 
}
















/************************************************************************************
Book entry : 
************************************************************************************/

.book-entry {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	max-height: 100%;
	transition: all ease-in 320ms;
	padding: 0; 
	margin-bottom: .6em; 
	border-color: var(--accent-bg);
}

.book-entry .cover-miniature {
	width: 52px; 
	height: auto; 
	object-fit: cover;
}


.book-entry .info-container {
	width: calc(100% - 100px - 42px);
	margin-right: auto;
    margin-left: 12px;
}


.book-entry p {
	margin: .1em; 
}

.book-entry .title, .book-entry .author {
	margin: 0; 
}

.book-entry .title {
	font-size: 16px; 
}
.book-entry .author {
	font-size: 12px;
	font-style: italic;
	font-weight: normal;
}
.book-entry .description {
	font-size: 14px; 
	max-width: 720px;
	max-height: 100%;
	overflow: hidden;
	transition: max-height ease-in 320ms;
}
.book-entry .info-container .publisher > * {
	font-size: 12px;
	border-radius: 4px; 
	/* border: solid 1px; */
	background: var(--accent-bg);
	padding: 2px 8px; 
}

.book-entry .added-date {
	font-size: 12px; 
	font-style: italic;
}
.book-entry .cta-container {
	width: 40px; 
	height: 40px;
	align-self: flex-end;
}

.book-entry button {
	margin: 0;
}







/* SINGLE BOOK */

.back-navigation_btn {
	background: var(--accent-bg);
	color: var(--text-light); 
}

.single-book__container .miniature-cover {
	float: left; 
	margin-right: 18px;
}
.single-book__container .description-content, .single-book__container .meta-container {
	max-width: 920px; 
}

.single-book__container .owned-checkbox {
	background: var(--accent-bg);
	padding: 1em;
	font-variant: small-caps;
	display: flex;
	align-items: flex-end;
}

.single-book__container .owned-checkbox label {
	display: inline;
}
.single-book__container .owned-checkbox label.owned-label {
	color: var(--accent); 
}
.single-book__container .owned-checkbox #owned-checkbox {
	height: 24px;
	width: 24px;
    position: relative;
    top: 5px;
	margin-left: 8px;
}
.single-book__container .owned-checkbox #owned-checkbox::after {
	font-size: 38px;
	top: 4px;
    left: 8px;
}





.single-book__container .description-content {
	padding: 1em; 
	font-size: 16px;
}
.single-book__container .meta-container {
	display: flex;
	background: var(--accent-bg);
	font-size: 14px;
}
.single-book__container .meta-container .column {
	width: 50%;
}
.single-book__container li {
	/* list-style: '⏵ ';  */
	list-style: '\25B8\0020';
}




.reading-status__container {
	margin-top: 2em; 
	margin-bottom: 2em; 
}

.reading-status__container label {
	font-weight: bold;
	font-size: 1.2em; 
}

.reading-status__container .status-log {

}
.reading-status__container .status-log p {
	margin: 0; 
	font-size: 16px;
	font-style: italic;
}







.single-book__container .custom_section {
	clear: both; 
	margin-top: 1em; 
} 

.single-book__container #comment_container {
	min-height: 72px; 
}









/* ABOUT */
.about-container p, .about-container li {
	font-size: 16px;
}

.about-container h1, .about-container h2 {
	font-size: 1.25em; 
	margin-top: 2em; 
}
.about-container h3 {
	font-size: 1.125em;
	margin-top: 1.6em;
}

.about-container .versions-container {
	font-family: var(--mono-font);
	background-color: var(--accent-bg);
    /* border: 1px solid var(--border); */
	margin-bottom: 2px;
}
.about-container .versions-container p {
	margin: 0; 
	padding: .6em; 
}

li.star {
	list-style-type: '★ ';
}

.about-container #export-container {
	padding: 1em;
	max-height: 220px;
	overflow: auto;
	user-select: text;
	font-size: 12px;
}
























/* Animated icon CSS */
.animated-validation {
	width: 48px; 
	height: 48px;
	border-radius: 100px; 
	border: green solid 4px;
	position: relative; 
}
.animated-validation::before {
    content: '';
    position: relative;
    height: 4px;
    background-color: green;
    width: 18px;
    border-radius: 100px;
    transform: rotate(45deg);
    top: 22px;
    left: 9px;
    display: block;
}
.animated-validation::after {
	content: '';
	display: block;
	position: relative; 
	width: 21px;
	height: 4px;
	border-radius: 100px;
	background: green;
	transform: rotate(-45deg);
	left: 14px;
    top: 16px;
}
