
* {
	user-select: none;
}

body::-webkit-scrollbar {
	width: 12px;
}
body::-webkit-scrollbar-track {
	background: #3d3d3d;
	/* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
	background-color: #6f6f6f;
	/* color of the scroll thumb */
	border-radius: 20px;
	/* roundness of the scroll thumb */
	border: 2px solid #3d3d3d;
	/* creates padding around scroll thumb */
}


h1, h2, h3, h4, h5, h6 {
	margin: .1em 0; 
}



/* UTILS */
.displaynone {
	display: none; 
}

.maxheight0 {
	max-height: 0 !important;
}


.delete-btn {
	background-color: var(--code);
}



/*  HEADER */
.header {
	position: sticky; 
	top: 0; 
	width: 100%;
	z-index: 1;
	padding: .2em;
	text-align: left;
}

.main-button {
	border-radius: 120px; 
	box-shadow: 1px 1px 4px rgba(0,0,0,.6);
	position: fixed; 
	bottom: .6em; 
	right: .6em; 
	width: 72px; 
	height: 72px; 
	transition: all ease 240ms; 
	display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    line-height: 0;
    margin: 0;
    padding: 0;
}
.main-button.active {
	transform: rotate(45deg);
	background-color: #fff;
}


/* Reading list */
#app-container {

}
#reading-list {
	min-height: 100vh;
}





/* Books search results  */
#search-form {
	scroll-snap-align: start;
}


.book-entry {
	display: flex;
	flex-wrap: wrap; 
	justify-content: space-between;
	max-height: 100%;
	transition: all ease-in 320ms;
	padding: .4em; 
}

.book-entry p {
	margin: .1em; 
}

.book-entry .title, .book-entry .author {
	margin: 0; 
}

.book-entry .title {
	font-size: 18px; 
}
.book-entry .author {
	font-size: 14px;
	font-style: italic;
}
.book-entry .description {
	font-size: 14px; 
	max-height: 100%;
	overflow: hidden;
	transition: max-height ease-in 320ms;
}

.book-entry .info-container {
	width: calc(100% - 100px - 42px);
}
.book-entry .info-container .publisher > * {
	font-size: 12px;
	border-radius: 4px; 
	border: solid 1px;
	padding: 2px 8px; 
}

.book-entry .added-date {
	font-size: 12px; 
	font-style: italic;
}
.book-entry .cta-container {
	width: 40px; 
	height: 40px;
	align-self: flex-end;
}

.book-entry button {
	margin: 0;
}
